/* .btn{
width: 100px;
text-align: center;
border: 1px solid black;
border-radius: 10px;
background-color: rgb(118, 119, 185);
cursor: pointer;
} */

.text {
  display: none;
}

.text.is-visible {
  display: block;
}

ul {
  list-style-type: none;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  width: 50%;
}

#name,
#forname,
#email,
#phone,
#address,
#zipcode {
  display: flex;
  justify-content: center;
  width: 250%;
}

.link {
  display: flex;
  flex-direction: column;
}

.product-pic {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.head {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.links-cart {
  display: flex;
  justify-content: space-between;
}

/* #grand-total{
    font-size: 5em;
} */

.totalPrice {
  font-size: 5em;
}
