@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");



.super_contener{
  min-height: 100vh;
  background-color: #f3e9f1;
}

header {
  /* display: flex;
  justify-content: center; */
  /* width: 100%; */
  /* background-color: #f3e9f1; */
}


.pic_orinoco {
  display: flex;
  justify-content: center;
  background-color: rgb(243,233,241);
  max-height: 250px;
  max-width: 500px;
}

.contener_center_product_and_btns{
display:flex;
flex-direction: column;
width: 100%;
justify-content: space-evenly;
align-items: center;

}

.contener_section_produit{
  display: flex;
  justify-content: center;
}

.product{
  width: 100%;
}
.product-price {
  padding: 5px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  display: none;
}

.text.is-visible {
  display: block;
}

ul {
  list-style-type: none;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* .form_contener {
  background-color: tomato;
  display: flex;
  justify-content: center;
  width: 100%;
} */

form{
  padding: 20px 20px 20px 20px;
}

input {
  width: 100%;
}

.title_item_list {
  background-color: rgba(253, 0, 241, 0.295);
  height: 80px;
}

p {
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(143, 91, 254, 0.753);
  font-size: 40px;
}

h1 {
  padding: 5px 5px 5px 5px;
  font-size: 30px;
}

h2 {
  padding: 5px 5px 5px 5px;
}

.all_div {
  background-color: rgb(243, 233, 241);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.pic_contener {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.product-pic {
  border-radius: 10px;
  box-shadow: -18px 6px 34px -5px rgba(0, 0, 0, 0.77);
}

.link,
p,
.productName,
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Nerko One", cursive;
}

.link {
  background-color: rgb(243, 233, 241);
  height: 100%;
  padding: 10px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  
}

.product-pic {
  width: 200px;
  height: 150px;
}

.product_color,
.contener_item_price {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  text-decoration: underline;
}

#item {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

h3 {
  padding: 5px 10px 5px 5px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  display: flex;
  justify-content: center;
}

.products_page_head {
  display: flex;
  justify-content:space-around;
  min-width: 80%;
}

#cart_btn_back_home{
  width: 25%;
  min-width: 180px;
}

/* 
#button_to_home{
  width: 150px;
  flex-wrap: nowrap;
} */


#product_title{
  width: 25%;
}


.btn_back_to_product {
  height: 25px;
  margin: 16px 5px 0 5px;
  display: flex;
  justify-content: center;
}

.btn_back_to_home {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 25px;
  margin: 15px 5px 10px 5px;
}

.links-cart {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  width:100%;
  background-color: rgb(243, 233, 241);
}

.totalPrice {
  font-size: 5em;
}

#section_product_down_page_btn{
  width:900px;
}

.btn {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

footer{
  width: 100%;
  /* height: 20px; */
  margin:auto;
  background-color: rgb(243, 233, 241);
} 


/***********************************************************************************Form******************************************************************************/

.form-style-7 {
  max-width: 400px;
  margin: auto;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: -18px 6px 34px -5px rgba(0, 0, 0, 0.77);
  /* padding-bottom: 20px; */
}
.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}
.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}
.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -20px;
  background: #ffffff;
  height: 18px;
  padding: 2px 5px 2px 5px;
  color: #757373;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > span {
  background: #f3f3f3;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #4d4a4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.form-style-7 textarea {
  resize: none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 3px;
  color: #d2e2ff;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover {
  background: #6b9fff;
  color: #fff;
}

#error {
  width: 300px;
  background-color: tomato;
  text-align: center;
}

/***************************************************************Cart page********************************************************************/

#cart {
  background-color: rgba(145, 91, 252, 0.404);
  text-align: center;
  /* font-family: ; */
  font-size: 100px;
  border: 5px solid white;
  border-radius: 50px;
}

#cart_btn_back_to_home{
  justify-content: space-around;
  width: 50%;
}

#cart_btn_back_to_product{
  justify-content: space-around;
  width: 50%;

}

.All-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cancel_btn {
  width: 300px;
  box-shadow: -10px 5px 10px 0px rgba(0, 0, 0, 0.77);
}

#all_dynamic_divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243,233,241);
}

.totalPrice {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  text-align: center;
}

.attribut-number-title0, .attribut-number-title1, .attribut-number-title2 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-decoration: underline;
}

/************************************************************ORDER SUMMARY PAGE*************************************************/
.summary_titre {
  display: flex;
  width: 100%;
  background-color: #feb4fc8f;
  height: 200px;
  justify-content: center;
  align-items: center;
}

#order_title {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgba(226, 141, 30, 0.377);
  border-radius: 30px;
  border: 5px solid white;
}

#thanks_message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bolder;
  text-align: center;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.671);
  border-radius: 3px;
}

#summary_order_home_btn_page {
  display: flex;
  justify-content: flex-end;
}

#page_pink_bckgnd {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(254, 213, 253);
  padding: 10px;
}

#total_price {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#order_id {
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


/**********************************************media query********************************************************/

@media screen and (max-width: 920px) {

  .products_page_head {
    display: flex;
    justify-content:space-between;
    min-width: 600px;
  }

  #section_product_down_page_btn {
    width: 600px;
  }

}

@media screen and (max-width: 620px) {

  .products_page_head {
    display: flex;
    justify-content:space-around;
    min-width: 450px;
  }

  #section_product_down_page_btn{
    width: 450px;
  }

}

@media screen and (max-width: 470px) {

  .products_page_head {
    display: flex;
    justify-content:space-around;
    min-width: 320px;
  }

  #section_product_down_page_btn{
    width: 300px;
  }

}